<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005870935944-8vk90vo6ltd33huqk4q8hdbmsgisgd4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005870935944-8vk90vo6ltd33huqk4q8hdbmsgisgd4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDFESo4tSRcqd87eIPnA1uYepRj9iBobD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1005870935944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etps.CloudJumpers</string>
	<key>PROJECT_ID</key>
	<string>cloudjumpers-ee9cd</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudjumpers-ee9cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005870935944:ios:e49aa54df059d8cd6cd43d</string>
	<key>DATABASE_URL</key>
	<string>https://cloudjumpers-ee9cd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>